.list-jobs-all{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.list-item-paper{
    position: relative;
    min-height: 50px;
    min-width: 250px;
    width: 25%;
    margin:10px;
}
.list-item-link{
    color: black;
    text-decoration: none;
}
.list-item-name{
    font-size: 25px;
    text-decoration: none;
    overflow-wrap: break-word;
}
.fab-position{
    position: absolute;
    right: 10px;
    bottom:10px;
}