.list-jobs-all{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.list-item-paper{
    position: relative;
    min-height: 50px;
    min-width: 300px;
    width: 25%;
    margin:10px;
}
.list-item-main{
    position: relative;
    display: flex;
    flex-direction: row;
}
.list-item-avatar{
    margin:10px;
    background-color: #4056b5 !important;
}
.list-item-core{
    width: calc(100% - 60px);
}
.list-item-link{
    color: black;
    text-decoration: none;
}
.list-item-name{
    font-size: 25px;
    text-decoration: none;
    overflow-wrap: break-word;
}
.list-item-buttons{
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.list-item-button{
    margin: 10px;
}

.list-jobs-filter{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}
.list-jobs-filter-select{
    width: 40%;
    max-width: 300px;
}
.fab-position{
    position: fixed;
    right: 10px;
    bottom:10px;
}